@import '../style/Details.css';
@import '../style/mediaqueries.css';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* page */
.App-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App-wrap2{
  height: 73vh;
}

.header{
  text-align: center;
  padding-top: 100px;
}

/* form section */
.display_flex-column{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 20px auto 40px;
  text-align:center;
}
.logo_img{
  width: 80%;
}

.form__input-text{
  padding: 7px 10px;
  border: 3px solid #00b0c7;
  background-color: #00b0c7;
}

.input{
  width: 80%;
  max-width: 300px;
}
.form__label{
  font-size: 19px;
  color: #00b0c7;
}

/* cards */
.display_grid-cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  justify-items: center;
  width: 90%;
  margin: 0 auto;
}

.card_list{
 text-align: center;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  border: 1px solid cyan;
}
.card_list:hover{
  transform: scale(1.1);
}
.card__footer{
  background-color: #00b0c7;
  line-height: 1;
}

/* footer */
.footer{
  height: 80px;
  font-size: 10px;
  text-align: center;
  padding-top: 30px;
}

@media all and (min-width: 600px){
  .logo_img{
    width: 550px;
  }
  .display_grid-cards{
    column-gap: 15px;
    row-gap: 25px;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .display_grid-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
  }
  .card__img-detail{
    width: 100%;
  }
  .detail__content{
   display: flex;
   flex-direction: column;
   justify-content: center;
  }
  .card__title{
    font-size: 20px;
    font-weight: 700;
  }
  .card__description{
    font-size: 17px;
  }
  .div-back{
    width: 85%;
    max-width: 800px;
  }
  .App-wrap2{
    height: 65vh;
  }
}

@media all and (min-width: 768px){
  .logo_img{
    width: 60%;
  }
  .display_grid-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 25px;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .card_list{
     width: 100%;
  }
  .App-wrap2{
    height: 64vh;
  }
}

@media all and (min-width: 1200px){
  .logo_img{
    max-width: 800px;
  }
  .display_grid-cards{
    grid-template-columns: repeat(4, 1fr);
  }
  .card_list{
     width: 90%;
   }
   .App-wrap2{
    height: 55vh;
  }
}
